* {
	font-family: Helvetica, sans-serif;
	color: #4150A6;
	text-align: center;}

body {
	width: 960px;
	margin: 0 auto;
	background-color:#F1D7D1}
#content {
	overflow: auto;
	height: 100%;}
.column1, .column2, .column3 {
	float: left;
	margin: 10px;}

nav {
	background-color:#D8B0A7;
	padding: 10px;
	margin: 10px;
}
li {
	display: inline;
	padding: 5px;
}

section {
	overflow: auto;
	height: 100%;
}

main {
	background-color: #4150A5;
	padding: 10px;
	margin: 10px;
	text-align: center; 
}

article {
	background-color: #D8B0A7;
	padding: 10px;
	margin: 10px;
	width: 280px;
	float: left;
}


footer {
	background-color: #D8B0A7;
	padding: 10px;
	margin: 10px;
}


